.todoContainer {
  background-color: rgb(56, 56, 56);
  box-shadow: 3px 5px 3px rgba(5, 5, 5, 0.75);
  border-radius: 10px;
  border-left: 10px solid yellowgreen;
  margin-bottom: 16px;
}

.iconsContainer {
  display: flex;
  width: 65px;
  justify-content: space-between;
}

.statusButton {
  font-size: 12px;
}

.todoTitle {
  cursor: pointer;
}
